@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-user:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-lock:before {
  content: "\e903";
}
.icon-user2:before {
  content: "\e904";
}
.icon-align-justify:before {
  content: "\e90d";
}
.icon-book:before {
  content: "\e90e";
}
.icon-check-circle:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e918";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-chevron-up:before {
  content: "\e909";
}
.icon-clock2:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e911";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-user3:before {
  content: "\e913";
}
.icon-x:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e914";
}
.icon-tag:before {
  content: "\e917";
}
.icon-cart:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e915";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-arrow-thin-right:after {
  content: "\e919";
}
